---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Bio from '../components/Bio.astro';
import Publications from '../components/Publications.astro';
import Teaching from '../components/Teaching.astro';
import Education from '../components/Education.astro'
import Projects from '../components/Projects.astro'
import Students from '../components/Students.astro'
import Contact from '../components/Contact.astro'
import Top from '../components/icons/Top.astro'

---

<Layout title="PhD Andreu Cecilia">
	<main class="">
		<Header  />
		<Hero />
		<Bio />
		<Publications />
		<Teaching  />
		<Education  />
		<Projects  />
		<Students  />
		<Contact  />
		<Top id="topbutton" />
	</main>
</Layout>

<style>
</style>