---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Bio from '../components/Bio.astro';
import Publications from '../components/Publications.astro';
import Teaching from '../components/Teaching.astro';
import Education from '../components/Education.astro'
import Projects from '../components/Projects.astro'
import Students from '../components/Students.astro'
import Contact from '../components/Contact.astro'
import Top from '../components/icons/Top.astro'

---


<Layout title="PhD Andreu Cecilia">
	<main class="">
		<Header  />
		<Hero />
		<Bio />
		<Publications />
		<Teaching  />
		<Education  />
		<Projects  />
		<Students  />
		<Contact  />
		
		<button id="topButton" class="md:flex space-x-16 absolute bottom-6 right-6 p-2 rounded-full shadow-lg" aria-label="Subir arriba">			
			<Top  />
		 </button>
	</main>
</Layout>

<style>
</style>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const backToTopButton = document.getElementById('topButton');
		
		if (backToTopButton) {
			window.addEventListener('scroll', function () {
				if (window.scrollY > 100) {
					backToTopButton.classList.remove('hidden');
					backToTopButton.classList.add('flex', 'fixed');
				} else {
					backToTopButton.classList.add('hidden');
					backToTopButton.classList.remove('flex', 'fixed');
				}
			});
			
			backToTopButton.addEventListener('click', function () {
				window.scrollTo({ top: 0, behavior: 'smooth' });
			});
		}
	});

	
	</script>
