---
---

<section class="w-full mx-auto pt-10 grid grid-cols-1 lg:grid-cols-2 gap-8">
    <div class="">
        <h2 class="text-2xl text-wrap">
            <span class="block uppercase text-teal-400/50 font-bold">My</span>
            <span class="block pb-3 uppercase">Biography</span>
        </h2>
        <p class="md:pl-4 lg:pl-7 text-white/80">I received the B.Eng. degree in industrial engineering, the double M.Sc. degree in automatic control/industrial engineering and the PhD in automatic control, robotics and vision from the Universitat Politècnica de Catalunya, Barcelona, Spain, in 2017, 2020 and 2022, respectively. In 2022-2023, I worked as a post-doctoral researcher at LAGEPP, Lyon, France. I am currently working as a post-doctoral researcher at UPC, Barcelona. My research interests include observers, nonlinear system theory and its application to energy systems and cybersecurity.</p>
    </div>
    <div class="md:ml-12 flex justify-center items-center">
        <img 
        src="/img/andreu.webp" 
        alt="PhD Andreu Cecilia" 
        class="w-auto lg:max-h-80 max-h-72 rounded-full aspect-w-1 aspect-h-1"
        width="300" 
        height="300"
        loading="lazy"
        >
    </div>
</section>

