---
---

<section class="w-full mx-auto lg:max-w-[1200px] p-14 grid grid-cols-1 lg:grid-cols-2 gap-2">
    <div class="order-last lg:order-first">
        <h2 class="text-2xl text-wrap">
            <span class="block uppercase text-teal-400/50 font-bold">My</span>
            <span class="block pb-3 uppercase">Biography</span>
        </h2>
        <p class="text-justify md:pl-5 lg:pl-10 md:text-left text-white/80">I received the B.Eng. degree in industrial engineering, the double M.Sc. degree in automatic control/industrial engineering and the PhD in automatic control, robotics and vision from the Universitat Politècnica de Catalunya, Barcelona, Spain, in 2017, 2020 and 2022, respectively. In 2022-2023, I worked as a post-doctoral researcher at LAGEPP, Lyon, France. I am currently working as a post-doctoral researcher at UPC, Barcelona. My research interests include observers, nonlinear system theory and its application to energy systems and cybersecurity.</p>
    </div>
    <div class="ml-12 flex justify-center items-center">
        <img src="src/andreu.webp" alt="PhD Andreu Cecilia" class="w-auto lg:max-h-96 max-h-72 rounded-full ">
    </div>
</section>

