---
import Home from "../components/icons/Home.astro"
import Mail from "../components/icons/Mail.astro"
import Phone from "../components/icons/Phone.astro"
---

<section id="contact" class="w-full mx-auto lg:w-[1200px] p-14 flex justify-center items-center  scroll-m-10">
    <div class="flex justify-center w-full pt-6 md:pt-4 lg:pt-0">
        <a href="mailto:elcorreoquequieres@correo.com"><h3 class="uppercase font-bold text-3xl tracking-widest" >Contact Me</h3></a>

    
</section>

<section class="flex justify-center items-center pb-36 w-full">
    <div class="flex flex-col md:flex-row w-full max-w-[1120px] justify-center mx-auto relative">
        <div class="flex-1 md:mx-4 text-center">
            <h4 class="text-wrap hover:animate-pulse">
                <span class="flex flex-col items-center justify-center uppercase">
                    <Mail class="mb-2" />
                    <span>Email Me</span> 
                </span>
            </h4>       
            andreu.cecilia@upc.edu
        </div>
        <div class="vertical-bar md:animate-pulse md:block hidden"></div>

        <div class="flex-1 md:mx-4 text-center py-4">
            <h4 class="hover:animate-pulse">
                <span class="flex flex-col items-center justify-center uppercase">
                    <Home class="mb-2" />
                    <span>Head Office</span> 
                </span>
            </h4>       
            Universitat Politècnica de Catalunya, Avinguda Diagonal, 647, 08028 Barcelona, Spain
        </div>
        <div class="vertical-bar md:animate-pulse md:block hidden"></div>

        <div class="flex-1 md:mr-4 text-center py-4">
            <h4 class="text-wrap hover:animate-pulse">
                <span class="flex flex-col items-center justify-center uppercase">
                    <Phone class="mb-2" />
                    <span>Call me</span> 
                </span>
            </h4>       
            (+34) 673 788 202       
        </div>
    </div>
</section>
