---
import Edu from "../components/icons/Edu.astro"
---

<section id="education" class="w-full mx-auto pt-10 md:pt-14 scroll-m-10">

        <h2 class="text-wrap hover:animate-pulse">
        <span class="flex items-center space-x-2 uppercase ">
            
            <Edu />
                
            <span class="md:pl-0 lg:pl-4">
                 Education
            </span> 
        </span>
    </h2>
      
      
        <ul class="pt-8">
            <li> <strong class="text-white">2018-2022 -</strong> Doctoral degree in Automatic Control, Robotics and Vision, Univ. Politécnica de Cataluña (UPC)</li>
            <li> <strong class="text-white">2017-2020 -</strong> Master's degree in Industrial Engineering, Univ. Politécnica de Cataluña (UPC)</li>
            <li> <strong class="text-white">2017-2020 -</strong> Master's degree in Automatic Control and Robotics, Univ. Politécnica de Cataluña (UPC)</li>
            <li> <strong class="text-white">2013-2017 -</strong> Bachelor's degree in Industrial Technology Engineering, Univ. Politécnica de Cataluña (UPC)</li>
        </ul>
            

</section>
