---
import List from "../components/icons/List.astro"
import Check from "../components/icons/Check.astro"
---

<section id="projects" class="w-full mx-auto lg:w-[1200px] p-10 md:p-14 scroll-m-10">

        <h2 class="text-wrap pl-7 hover:animate-pulse">
        <span class="flex items-center space-x-2 uppercase ">
            
            <List />
                
            <span class="md:pl-0 lg:pl-4">
                 Projects
            </span> 
        </span>
    </h2>
      
    <ul class="md:pl-5 lg:pl-10 pt-8">

        <li class="flex items-center text-teal-600/90"><Check class="hidden md:inline-block w-6 h-6 lg:w-8 lg:h-8"/> 
            <p class="text-white/80 pl-2"><strong class="text-teal-600/90 md:text-white/80">MASHED </strong> 
            (Spanish/EU grant) with UPC - Participant  
                <strong>2023-2024</strong></p></li>

        <li class="flex items-center text-teal-600/90"><Check class="hidden md:inline-block w-6 h-6 lg:w-8 lg:h-8"/> 
            <p class="text-white/80 pl-2"><strong class="text-teal-600/90 md:text-white/80">MAFALDA </strong> 
            (Spanish/EU grant) with UPC - Participant  
                <strong>2022-2024</strong></p></li>
                
        <li class="flex items-center text-teal-600/90"><Check class="hidden md:inline-block w-6 h-6 lg:w-8 lg:h-8"/>
            <p class="text-white/80 pl-2"><strong class="text-teal-600/90 md:text-white/80">PTI+ TRANS-ENER</strong> (Spanish/EU grant) with UPC - Participant  
                <strong>2021-2022</strong></p></li>

        <li class="flex items-center text-teal-600/90"><Check class="hidden md:inline-block w-6 h-6 lg:w-8 lg:h-8"/>
            <p class="text-white/80 pl-2"><strong class="text-teal-600/90 md:text-white/80">DOVELAR </strong> 
             (Spanish/EU grant) with UPC - Participant  
        <strong>2019-2022</strong></p></li>
    </ul>
            

</section>
