---
import Check from "../components/icons/Check.astro"
import Micro from "../components/icons/Micro.astro"
---

<section id="teaching" class="w-full mx-auto lg:w-[1200px] p-10 md:p-14 scroll-m-10">

        <h2 class="text-wrap pl-7 hover:animate-pulse">
        <span class="flex items-center space-x-2 uppercase ">
            
            <Micro />
                
            <span class="md:pl-0 lg:pl-4">
                 Teaching
            </span> 
        </span>
    </h2>
      
       <h3 class="md:pl-4 lg:pl-12 pt-8 pb-4">
        <span class="flex items-center space-x-2">
        <Check /> 
        <span>Universitat Politècnica de Catalunya (UPC)</span>
        </span>
        </h3>
        
        <ul class="md:pl-5 lg:pl-10">
            <li><strong class="text-white/90">2024 -</strong> Non linear Control Systems (24 h)</li>
            <li><strong class="text-white/90">2023 -</strong> Modelling, Identification and Simulation of Dynamical Systems (7,5 h)</li>
            <li><strong class="text-white/90">2023 -</strong> Fuel Cells (4 h)</li>
            <li><strong class="text-white/90">2021-2022</strong> - Dynamical Systems (45 h) and Automatic Control (12 h)</li>
        </ul>

        <h3 class="md:pl-4 lg:pl-12 pt-12 pb-4">
            <span class="flex items-center space-x-2">
            <Check /> 
            <span>Université Claude Bernard Lyon 1</span>            
        </span>
            </h3>
            <ul class="md:pl-5 lg:pl-10">
                <li><strong class="text-white/90">2023</strong> Automatique 1 (16 h) and Automatique des Systèmes Dynamiques Linéaires 1 (12 h)</li>
            </ul>
            

</section>