---
import Check from "../components/icons/Check.astro"
import Micro from "../components/icons/Micro.astro"

const teaching = [
    {
        university: "Universitat Politècnica de Catalunya (UPC)",
        courses: [
            { year: "2025 -", description: "Identification and simulation of dynamic systems" },
            { year: "2025 -", description: "Control en l'espai d'estats" },
            { year: "2025 -", description: "Laboratori de sistemes de control i electrònica industrial" },
            { year: "2025 -", description: "Pattern recognition and machine learning" },
            { year: "2025 -", description: "Non linear Control Systems" },
            { year: "2024 -", description: "Modelling, Identification and Simulation of Dynamical Systems" },
            { year: "2024 -", description: "Fuel Cells" },
            { year: "2024 -", description: "Non linear Control Systems" },
            { year: "2023 -", description: "Modelling, Identification and Simulation of Dynamical Systems" },
            { year: "2023 -", description: "Fuel Cells" },
            { year: "2022 -", description: "Dynamical Systems y Automatic Control" },
            { year: "2021 -", description: "Dynamical Systems y Automatic Control" },
        ],
    },
    {
        university: "Université Claude Bernard Lyon 1",
        courses: [
            { year: "2023", description: "Automatique 1 y Automatique des Systèmes Dynamiques Linéaires 1" },
        ],
    },
];
---

<section id="teaching" class="w-full mx-auto pt-10 md:pt-14 scroll-m-10">
    <h2 class="text-wrap hover:animate-pulse">
        <span class="flex items-center space-x-2 uppercase">
            <Micro />
            <span class="md:pl-0 lg:pl-4">Teaching</span>
        </span>
    </h2>

    {teaching.map((institution) => (
        <div>
            <h3 class=" pt-8 pb-4">
                <span class="flex items-center space-x-2">
                    <Check />
                    <span>{institution.university}</span>
                </span>
            </h3>
            <ul class="">
                {institution.courses.map((course) => (
                    <li>
                        <strong class="text-white/90">{course.year}</strong> {course.description}
                    </li>
                ))}
            </ul>
        </div>
    ))}
</section>
