---
// Supports weights 100-900
import '@fontsource-variable/onest';

interface Props {
	title: string;
}


const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-WQT9YP34TV"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-WQT9YP34TV');
		</script>

		<meta charset="UTF-8" />
		<meta name="description" content="PhD Andreu Cecilia, Automatic Control Theory Researcher at Universitat Politècnica de Catalunya." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="custom-bg">
		<div >
		  <slot />
		</div>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				const links = document.querySelectorAll('a:not(.menu-link)');
				links.forEach(link => {
					link.setAttribute('target', '_blank');
				});
			});
			</script>
</html>
<style is:global>
	:root {
		color-scheme: ligth dark;
	}


	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;

	}

	body{
		display: flex;
		flex-direction: column;		
		min-height: 100vh;
	}

	h2{
		color: #fff;
		font-size: 2.2rem;
		font-weight: 500;
	}
	

	h3{
		font-size: 1.8rem;
		/*text-teal-600	color: #319795; */
		color: #319795;
	}

	h4{
		font-size: 1.2rem;
		/*text-teal-600	color: #319795; */
		color: #b2f5ea;
	}
	

	/*para tablets */
	@media (max-width: 768px) {
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1rem;
    }
	}
	
	/*para moviles */

	@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.75rem;
    }
	
	}


	li{
		color:#f7f7f7b9;
	}
	
	a {
		position: relative;
		background-image: linear-gradient(#1a1a1a00, #1a1a1a00), linear-gradient(#b2f5ea, #b2f5ea);
		background-size: 100% 1px, 0 1px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		color: #319795; /* Color del texto */
		transition: background-size 500ms, color 500ms;
		text-decoration: none; /* Eliminar el subrayado predeterminado */
	}

	a:hover {
		background-size: 0 1px, 100% 1px;
		color: #b2f5ea; /* Color del texto en modo hover */
	}

	a::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0px; /* Grosor del subrayado */
		background-color: #319795; /* Color del subrayado */
		transition: background-color 500ms; /* Transición del color del subrayado */
	}

	a:hover::after {
		background-color: #b2f5ea; /* Color del subrayado en modo hover */
	}
	
	.menu-link {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 500;
  transition: transform 300ms;
  
  /* Estilo para el desplazamiento adicional */
  .menu-link::before {
    content: "";
    display: block;
    margin-top: -20px; /* Desplazamiento negativo */
  }

	}
	.menu-link:hover {
  transform: scale(1.1);
}

.custom-bg {
    background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(87,166,161,0.8), rgba(255,255,255,0));
    background-color: #1a202c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
 
  @media (prefers-reduced-motion: reduce) {
	html{
		scroll-behavior: auto;
	}
  }



  .vertical-bar {
    width: 2px;
    height: 100%;
    background-color: #319795;
    margin: 0 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 10px #319795, 0 0 20px #319795, 0 0 30px #319795;
    clip-path: polygon(50% 0%, 60% 10%, 70% 30%, 75% 50%, 70% 70%, 60% 90%, 50% 100%, 40% 90%, 30% 70%, 25% 50%, 30% 30%, 40% 10%);
}

.mx-auto .vertical-bar:nth-child(2) {
    left: calc(33.33% - 1px); /* Adjust to place the bar correctly */
}

.mx-auto .vertical-bar:nth-child(4) {
    left: calc(66.66% - 1px); /* Adjust to place the bar correctly */
}


#header-nav {
        animation: blur linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;
      }

      @keyframes blur {
        to {
          box-shadow:
            0px 5px 50px -5px rgba(0, 0, 0, 0.1),
            0px 0px 0px 1px rgba(91, 123, 118, 0.193);
          background: rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(10px);
        }
      }

	  #topButton {
		transition: all 0.3s ease-in-out;
		}

		.hidden {
		display: none;
		}

		.fixed {
		position: fixed;
		}


</style>



	
